* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  background-color: #eeee;
}

#home.active,
#shop.active,
#blog.active,
#about.active,
#contact.active {
  color: rgb(11, 163, 163);
}
/* nav star ----------- */
nav {
  display: flex;
  justify-content: space-between;
  background-color: #eeeeee85;
  padding: 22px;
  box-shadow: 0px 2px 2px 2px rgb(161, 97, 97);
}

.logo {
  margin-left: 22px;
  font-size: 24px;
}
ul {
  display: flex;
  margin-right: 45px;
  margin-top: 7px;
}
nav ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
  color: black;
  margin-inline: 22px;
  font-size: 20px;
}
nav ul li i {
  font-size: 22px;
}

ul li a:hover {
  border-bottom: 2px solid rgba(10, 11, 11, 0.951);
  cursor: pointer;
}
ul li i:hover {
  color: gray;
  cursor: pointer;
}

/* main -------------  */

.main {
  display: flex;
  justify-content: space-around;
}
.maintext {
  margin-top: 144px;
}
.maintext h1 {
  font-size: 54px;
  color: black;
}
.maintext .top {
  color: rgb(11, 163, 163);
}
.maintext p {
  font-size: larger;
}
.maintext button {
  width: 145px;
  border: none;
  height: 40px;
  background-color: rgb(4, 140, 140);
  margin-top: 20px;
  font-size: large;
  color: white;
}
.maintext button:hover {
  border: 3px solid aqua;
  background-color: transparent;
  color: rgb(11, 163, 163);
}
.main img {
  margin-top: 10px;
  height: 500px;
}

/* card MEN AND WOMEN -----------------*/

.head {
  text-align: center;
  padding: 33px;
  margin-top: 32px;
}
.head span {
  color: rgb(18, 152, 152);
}

.card {
  display: flex;
  justify-content: center;
}
.card img {
  width: 85%;
  padding: 22px;
  border-radius: 51px;
}

/* .card img:hover {
  transition: 0.6s ease;
  width: 90%;

} */
.card .crd {
  width: 300px;
  height: 550px;
  background-color: #fff;
  margin-inline: 21px;
}
.crdtext {
  margin-left: 21px;
}
.crdtext button {
  width: 110px;
  height: 33px;
  border: none;
  background-color: rgb(17, 118, 118);
  color: white;
  font-size: large;
  margin-top: 10px;
}
.crdtext i {
  color: rgb(141, 141, 12);
  font-size: large;
  margin-top: 10px;
}
/* about us  */
.about {
  display: none;
}
.aboutUs {
  background-color: rgb(8, 8, 79);
  color: white;
  padding: 56px;
  font-size: 22px;
}
.me {
  display: flex;
  justify-content: center;
  width: 700px;
  background-color: white;
  padding: 33px;
  margin-left: 25%;
  margin-top: 5%;
}
.me img {
  width: 44%;
  margin-left: 10px;
}
.aboutText p {
  margin-left: 20px;
  margin-top: 10px;
  font-size: larger;
}
.aboutText h1 {
  margin-left: 20px;
}

/* contact  */
.contect {
  display: none;
}
.contacttUs {
  background-color: rgb(8, 8, 79);
  color: white;
  padding: 56px;
  font-size: 22px;
}
.ContactText p {
  padding: 5px;
}
.hide {
  display: none !important;
}
.Contactme {
  display: flex;
  justify-content: center;
  width: 800px;
  background-color: white;
  padding: 33px;
  margin-left: 25%;
  margin-top: 5%;
}
.Contactme img {
  width: 54%;
}
.ContactText {
  margin-left: 10px;
}

.form {
  text-align: center;
  margin-top: 5%;
}
.form input {
  width: 300px;
  height: 27px;
  padding: 5px;
  margin-top: 11px;
}

.form button {
  margin-top: 15px;
  background-color: rgb(6, 91, 91);
  color: white;
  padding: 10px 30px;
  font-size: large;
  border: none;
}

/* add to cart  */
.cart {
  display: flex;
  justify-content: center;
  display: none;
}
.cardText {
  margin-top: 22px;
  padding: 22px;
}
.cardText h1 {
  margin-top: 12px;
}
.cardText h2 {
  margin-top: 12px;
}
.cardText p {
  margin-top: 15px;
}
.btn button {
  margin-top: 15px;
  background-color: rgb(230, 105, 38);
  color: rgb(6, 0, 0);
  padding: 10px 30px;
  font-size: large;
  border: none;
}
.cardText .back {
  margin-top: 15px;
  background-color: rgb(4, 78, 87);
  color: rgb(248, 241, 241);
  padding: 10px 45px;
  font-size: large;
  border: none;
}
.cart img {
  height: 380px;
  margin-top: 50px;
}
/* blog  -----------------*/

.blog {
  display: flex;
  justify-content: center;
  width: 600px;
  height: 300px;
  background-color: #fff;
  margin-inline: 22px;
  border-radius: 10px;
}
/* .blog:hover {
  transition: 0.6s ease;
  width: 300px;
  height: 320px;
} */
.blogimg {
  width: 200px !important;
  transition: 1s;
}
.blogimg:hover {
  transform: scale(1.2);
  /* z-index: 2; */
}
.blogtext {
  padding: 20px;
  margin-top: 33px;
}
.blogtext a {
  width: 140px;
  padding: 10px;
  height: 20px;
  background-color: rgb(5, 88, 88);
  color: white;
  font-size: large;
  position: relative;
  top: 33px;
  text-decoration: none;
}

/* letter ----------- */

.letter {
  display: flex;
  background-color: rgb(2, 2, 54);
  justify-content: space-between;
  color: #fff;
  padding: 43px;
  margin-top: 50px;
}

.inp input {
  width: 330px;
  height: 30px;
  outline: none;
  font-size: large;
}
.letter-text p {
  margin-top: 5px;
}

.inp button {
  width: 100px;
  height: 33px;
  background-color: rgb(6, 102, 102);
  color: white;
  border: none;
}
/* footer ------------------- */

.footer {
  display: flex;
  justify-content: center;
  padding: 50px;
}
.footer-text {
  margin-inline: 85px;
}
.footer-text p {
  margin-top: 12px;
}
